:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient( 100deg, rgb(133, 133, 233), rgb(74, 74, 231), rgb(29, 29, 223));
  background-repeat: no-repeat;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: antiquewhite;
}


header {
  width: 100vw;
  height: 100px;
  max-height: 100px;
  display: flex;
  justify-content: space-around;
  gap: 50px;
}

h1 {
  padding-right: 40px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: aliceblue;
}

.segundo-menu {
  display: flex;
  justify-content: space-around;
}

button {
  border-radius: 25px;
  border: none;
  width: 15vw;
  height: 4vh;
  background: linear-gradient(100deg, rgb(209, 203, 118), rgb(145, 139, 61));
}


.first-grid {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Duas colunas: uma maior para o vídeo e uma menor para o texto lateral */
  grid-template-rows: auto auto; /* Duas linhas: uma para o título e outra para o conteúdo (vídeo e texto) */
  padding: 10px;
  gap: 20px; /* Espaçamento entre os elementos */
}


.titulo1 {
  grid-column: 1 / 3; /* O título ocupa ambas as colunas */
  grid-row: 1 / 2; /* Fica na primeira linha */
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto-lateral {
  grid-column: 2 / 3; /* O texto lateral ocupa a segunda coluna */
  grid-row: 2 / 3; /* Fica na segunda linha */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1); /* Fundo semi-transparente */
  border-radius: 10px;
}

#video {
  grid-column: 1/2;
  grid-row: 2/3;
  /* border: solid 1px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

iframe {
  border-radius: 10px; /* Canto arredondado no vídeo */
}